@import "colores";

.boton{
  &--amarillo{
    background-color: $amarillo-botones;
  }
}

div.carousel.carousel-slider.center.initialized{
  min-height: 50vh;
  margin-top: 20vh;
}

.carousel{
  .carousel-item{
    >img {
      width: 25vh;
    }
  }
  .indicators{
    .indicator-item{
      background-color: $gris-letra-soft;
    }
    .indicator-item.active{
       background-color: $rojo-bullet;
    }
  }
}

.pantalla-2{
  margin: 15vh 8vh;
  .img-size{
    width: 20vh;
  }
  .titulo{
    font-size: 25px;
    color: $gris-dark;
  }
  .texto{
    font-size: 15px;
    color: $gris-letra-soft
  }
  .ingresa{
    &_label{
      width: 10vh;
      position: absolute;
    }
  }
  .terminos-condiciones{
    &_texto{
    color: $turquesa-terminosYcondiciones;
    }
   }
}

.pantalla-codigo{
  @extend .pantalla-2;
  .ingresa{
    &_label{
      width: 4vh;
    }
  }
  .clock{
    width: 4vh;
  }
  .tel{
    font-size: 16px;
    color: $gris-dark;
  }
}

.crearUsuario{
  @extend .pantalla-2;
  margin: 5vh 8vh;
  .ingresa{
    &_label{
      width: 4vh;
    }
  }
}

.fondo--amarillo{
  background-color: $amarillo-botones;
}

.creado{
  margin: 25vh 8vh;
    .texto{
      font-size: 22px;
      color: $gris-dark;
      font-weight: bold;
    }
    .img-size{
      width: 25vh;
    }
}

.tarjeta{
  @extend .crearUsuario;
  .texto--azul{
    color:$turquesa-terminosYcondiciones;
  }
  .img-scan{
    width: 3vh;
  }
  .img-question{
    @extend .img-scan;
    position: absolute;
    right: 10%;
    margin-bottom: 10%;
  }
}

.passtarj{
  @extend .tarjeta;
  .volver{
    color: $gris-dark;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 10%;
  }
}
