$rojo-bullet : #f64552;
$gris-bullet : #f8f8f8;
$amarillo-botones : #fbd43b;
$gris-dark : #212121;
$gris-letra-soft : #8f8f8f;
$turquesa-terminosYcondiciones: #00c3a3;
$morado-entradaNumeros : #49233b;
$morado-light : #451e36;
$morado-dark : #38052a;

.boton{
  &--amarillo{
    background-color: $amarillo-botones;
  }
}

div.carousel.carousel-slider.center.initialized{
  height: 50vh !important;
  margin-top: 20vh;
}

.carousel{
  .carousel-item{
    >img {
      width: 25vh;
    }
  }
}

.pantalla-2{
  margin: 15vh 8vh;
  .img-size{
    width: 20vh;
  }
  .titulo{
    font-size: 25px;
  }
  .texto{
    font-size: 15px;
  }
  .ingresa-numero{
    &_label{
      width: 10vh;
      position: absolute;
    }
  }
  .terminos-condiciones{
    &_texto{
    color: $turquesa-terminosYcondiciones;
    }
   }
}
