<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yape</title>
  <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  <section class="hola center">
    <a href="#"><img src="../assets/img/icons/engine.png" alt="config" class="img-question"></a>
    <img src="../assets/img/icons/happy-face.png" alt="bcp" class="img-size">
    <h3>Hola</h3>
    <p class="center texto--azul">
      <img src="../assets/img/icons/eye.png" alt="eye" class="img-scan">
      Mostrar Saldo
    </p>
  </section>
  <section class="movimientos container">
    <div class="row">
      <p class="col s8">ULTIMOS MOVIMIENTOS</p>
      <img src="../assets/img/icons/right-arrow-circular-button.png" alt="rigth-arrow" class="right col s1">
    </div>
    <hr>
    <div class="row center">
      <img src="../assets/img/icons/icon.png" alt="icon" class="col s5">
      <p class="col s6 texto">¿Aún no realizas tu primer pago? <br> Es rápido y sencillo</p>
    </div>
    <div class="row center">
      <div class="col s3">
        <img src="../assets/img/icons/send.png" alt="send" class="img">
        <p>Enviar Pago</p>
      </div>
      <div class="col offset-s5 s3 center">
        <img src="../assets/img/icons/code-qr.png" alt="qr" class="img">
        <p>Recibir Pago</p>
      </div>
    </div>

  </section>

  <script src="../static/jquery/dist/jquery.min.js"></script>
  <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>
