<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yale</title>
  <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
  <link rel="stylesheet" href="../static/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  <section class="pantalla-2 center">
    <img src="../assets/img/icons/phone.png" alt="phone" class="img-size">
    <h2 class="titulo">Para comenzar validemos tu número</h2>
    <p class="texto">Recibirás un SMS con código de validación</p>
    <form action="#" id="formNumero">
        <label for="numero"><img src="../assets/img/icons/phoneandnumber.png" alt="phone"class="ingresa_label"></label>
        <input id="numero" type="tel" class="ingresa center">
      <p class="center" class="terminos-condiciones">
        <input type="checkbox" class="filled-in" id="terminos" />
        <label for="terminos">Acepto los <a href="#" class="terminos-condiciones_texto">Términos y condiciones.</a></label>
      </p>
      <input type="submit" value="Continuar" class="btn" id="btnNumero" disabled>
    </form>
  </section>
  <script src="../static/jquery/dist/jquery.min.js"></script>
  <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
  <script src="../static/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../assets/js/number.js"></script>
</body>
</html>
