<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yape</title>
  <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
  <link rel="stylesheet" href="../static/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  <section class=" passtarj center">
    <a href="tarjeta.html" class="volver"><</a>
    <a href="#"><img src="../assets/img/icons/question.png" alt="question" class="img-question"></a>
    <img src="../assets/img/icons/bcp-logo.png" alt="bcp" class="img-size">
    <h2 class="titulo">Ingresa la clave de tu tarjeta</h2>
    <p class="texto">tarjeta ****<span id="ultimosNumeros">----</span></p>
    <form action="#" id="formTarjeta" class="container">
      <p>
        <label for="pass"><img src="../assets/img/icons/lock.png" alt="lock"class="ingresa_label"></label>
        <input id="pass" type="password" class="ingresa center validate" pattern="[0-9]" maxlength="4" placeholder="----">
      </p>

      <input type="submit" value="REGISTRAR" class="btn" id="btnPass" disabled>
    </form>
  </section>

  <script src="../static/jquery/dist/jquery.min.js"></script>
  <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
  <script src="../static/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../assets/js/passTarjeta.js"></script>
</body>
</html>
