<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yape</title>
  <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  <section class=" tarjeta center">
    <a href="#"><img src="../assets/img/icons/question.png" alt="question" class="img-question"></a>
    <img src="../assets/img/icons/bcp-logo.png" alt="bcp" class="img-size">
    <h2 class="titulo">Registra tu tarjeta de débito BCP</h2>
    <p class="texto">Por Ahora solo aceptamos cuentas de ahorro y/o corriente en soles.</p>
    <form action="#" id="formTarjeta" class="container">
      <p>
        <label for="numeroTarjeta"><img src="../assets/img/icons/card.png" alt="card" class="ingresa_label"></label>
        <input id="numeroTarjeta" type="number" class="ingresa center" pattern="[0-9]{16}" maxlength="16">
      </p>
      <p class="center texto--azul">
        <img src="../assets/img/icons/scan.png" alt="scan" class="img-scan">
        Escanear tarjeta
      </p>
      <div class="row center">
        <p class="texto col s5 center"> Fecha de vencimiento  </p>
        <input id="mes" type="number" min="1" max="12" maxlength="2" class="center validate ingresa col s2">
        <p class="texto col s1 center"> / </p>
        <input id="año" type="number" min="17" max="24" maxlength="2" class="center validate ingresa col s2">
      </div>
      <input type="submit" value="Continuar" class="btn" id="btnTarjeta" disabled>
    </form>
  </section>

  <script src="../static/jquery/dist/jquery.min.js"></script>
  <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
  <script src="../assets/js/tarjeta.js"></script>
</body>
</html>
