.boton--amarillo {
  background-color: #fbd43b; }

div.carousel.carousel-slider.center.initialized {
  min-height: 50vh;
  margin-top: 20vh; }

.carousel .carousel-item > img {
  width: 25vh; }

.carousel .indicators .indicator-item {
  background-color: #8f8f8f; }

.carousel .indicators .indicator-item.active {
  background-color: #f64552; }

.pantalla-2, .pantalla-codigo, .crearUsuario, .tarjeta, .passtarj, .hola {
  margin: 15vh 8vh; }
  .pantalla-2 .img-size, .pantalla-codigo .img-size, .crearUsuario .img-size, .tarjeta .img-size, .passtarj .img-size, .hola .img-size {
    width: 20vh; }
  .pantalla-2 .titulo, .pantalla-codigo .titulo, .crearUsuario .titulo, .tarjeta .titulo, .passtarj .titulo, .hola .titulo {
    font-size: 25px;
    color: #212121; }
  .pantalla-2 .texto, .pantalla-codigo .texto, .crearUsuario .texto, .tarjeta .texto, .passtarj .texto, .hola .texto {
    font-size: 15px;
    color: #8f8f8f; }
  .pantalla-2 .ingresa_label, .pantalla-codigo .ingresa_label, .crearUsuario .ingresa_label, .tarjeta .ingresa_label, .passtarj .ingresa_label, .hola .ingresa_label {
    width: 10vh;
    position: absolute; }
  .pantalla-2 .terminos-condiciones_texto, .pantalla-codigo .terminos-condiciones_texto, .crearUsuario .terminos-condiciones_texto, .tarjeta .terminos-condiciones_texto, .passtarj .terminos-condiciones_texto, .hola .terminos-condiciones_texto {
    color: #00c3a3; }

.pantalla-codigo .ingresa_label {
  width: 4vh; }

.pantalla-codigo .clock {
  width: 4vh; }

.pantalla-codigo .tel {
  font-size: 16px;
  color: #212121; }

.crearUsuario, .tarjeta, .passtarj, .hola {
  margin: 5vh 8vh; }
  .crearUsuario .ingresa_label, .tarjeta .ingresa_label, .passtarj .ingresa_label, .hola .ingresa_label {
    width: 4vh; }

.fondo--amarillo {
  background-color: #fbd43b; }

.creado {
  margin: 25vh 8vh; }
  .creado .texto {
    font-size: 22px;
    color: #212121;
    font-weight: bold; }
  .creado .img-size {
    width: 25vh; }

.tarjeta .texto--azul, .passtarj .texto--azul, .hola .texto--azul {
  color: #00c3a3; }

.tarjeta .img-scan, .passtarj .img-scan, .hola .img-scan, .tarjeta .img-question, .passtarj .img-question, .hola .img-question {
  width: 3vh; }

.tarjeta .img-question, .passtarj .img-question, .hola .img-question {
  position: absolute;
  right: 10%;
  margin-bottom: 10%; }

.passtarj .volver {
  color: #212121;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 10%; }

.hola {
  background-color: #451e36;
  height: 40vh;
  margin: 0;
  padding-top: 3vh;
  color: white;
  font-size: 18px; }

.movimientos {
  background-color: #38052a;
  width: 60vh;
  padding: 5vh 4vh 0 4vh;
  color: white;
  margin: 0; }
  .movimientos img {
    width: 80%; }
    .movimientos img .arrow {
      width: 3vh; }
