.boton--amarillo {
  background-color: #fbd43b; }

div.carousel.carousel-slider.center.initialized {
  min-height: 50vh;
  margin-top: 20vh; }

.carousel .carousel-item > img {
  width: 25vh; }

.carousel .indicators .indicator-item {
  background-color: #8f8f8f; }

.carousel .indicators .indicatir-item.active {
  background-color: #f64552; }

.pantalla-2, .pantalla-codigo, .crearUsuario {
  margin: 15vh 8vh; }
  .pantalla-2 .img-size, .pantalla-codigo .img-size, .crearUsuario .img-size {
    width: 20vh; }
  .pantalla-2 .titulo, .pantalla-codigo .titulo, .crearUsuario .titulo {
    font-size: 25px;
    color: #212121; }
  .pantalla-2 .texto, .pantalla-codigo .texto, .crearUsuario .texto {
    font-size: 15px;
    color: #8f8f8f; }
  .pantalla-2 .ingresa_label, .pantalla-codigo .ingresa_label, .crearUsuario .ingresa_label {
    width: 10vh;
    position: absolute; }
  .pantalla-2 .terminos-condiciones_texto, .pantalla-codigo .terminos-condiciones_texto, .crearUsuario .terminos-condiciones_texto {
    color: #00c3a3; }

.pantalla-codigo .ingresa_label {
  width: 4vh; }

.pantalla-codigo .clock {
  width: 4vh; }

.pantalla-codigo .tel {
  font-size: 16px;
  color: #212121; }

.crearUsuario {
  margin: 5vh 8vh; }
  .crearUsuario .ingresa_label {
    width: 4vh; }

.fondo--amarillo {
  background-color: #fbd43b; }

.creado {
  margin: 25vh 8vh; }
  .creado .texto {
    font-size: 22px;
    color: #212121;
    font-weight: bold; }
  .creado .img-size {
    width: 25vh; }
